/* Base styles for desktop */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns for the testimonials */
    gap: 20px;
    /* Space between the testimonial items */
    justify-items: center;
    /* Center the content within each grid item */
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Extatica', sans-serif;
    font-size: 36px;
    color: rgba(45, 86, 236, 1);
    margin-bottom: 30px;
}

/* Tablet view - screen width up to 768px */
@media (max-width: 768px) {
    .container {
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(1, 1fr);
        
        gap: 15px;
        width: 80%;
    }

    h1 {
        font-size: 32px;
    }
}

/* Mobile view - screen width up to 480px */
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        /* Single column for mobile */
        gap: 10px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
}